@tailwind base;
@tailwind components;
@tailwind utilities;

.nav_bar{
    width: 100%;       
    background-color: rgba(255, 243, 243, 0.055);
    position: fixed;
    left: 0%;    
    transform: translateX(-50%);
    top: 0;    
    backdrop-filter: blur(15px);      
}